.inventory {
  margin-top: 20px;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(54px, 1fr));
  gap: 6px;
}

.inventory-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 55px;
  height: 55px;
}

.inventory-item.selectable {
  opacity: 0.4;
  border: 1px solid gold;
  cursor: pointer;
}

.inventory-item.selected {
  opacity: 1;
}

.inventory-item.usable {
  cursor: pointer;
}

.inventory-item img {
  max-width: 100%;
  height: auto;
}

.item-details {
  margin-top: 8px;
}

.hand-over-items {
  margin-top: 10px;
}

.hand-over-items select {
  margin-right: 10px;
}