.tree {
    min-width: 15px;
    max-width: 15px;
    transition: min-width 0.4s, width 0.2s;
    flex-grow: 0.1;
    background-color: #232121;
    -webkit-box-shadow: 18px 11px 36px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 11px 36px -7px rgba(0,0,0,0.75);
    box-shadow: 18px 11px 36px -7px rgba(0,0,0,0.75);
    color: #d0d0d0;
    opacity: 0;
}

.tree:hover {
    min-width: 270px;
    opacity: 1;
}

.tree-item {
    user-select: none;
    padding: 10px;
    padding-top: 2px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #292929;
}

.tree-item.active {
    background-color: #3b3b3b;
}

.tree-item-actions {
    display: inline-block;
    float: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}