.character-list-container {
  display: flex;
  flex-direction: row; /* Set the flex direction to row */
  flex-wrap: wrap;
  align-items: baseline;
}

.character-container {
  flex: 0 0 48%;
}

.character-details {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row; /* Set the flex direction to row */
  flex-wrap: wrap;
}

.character-container .basic {
  flex: 0 0 48%;
}

.character-container .attrs {
  flex: 0 0 48%;
  margin-left: 10px;
  margin-top: 13px;
}

.attributes-container {
  display: flex;
  flex-direction: column;
}

.attribute {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.attribute-name {
  font-weight: bold;
  margin-right: 8px;
}

.attribute-value {
  /* Additional styling for the attribute value */
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #d7d7d7;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar-hp-fill {
  height: 100%;
  background-color: #4caf50; /* Green color */
  transition: width 0.3s ease-in-out;
}

.progress-bar-mana-fill {
  height: 100%;
  background-color: #4c66af; /* Green color */
  transition: width 0.3s ease-in-out;
}

.action {
  margin-right: 5px;
}

.actions {
  display: flex;
  flex-direction: row; /* Set the flex direction to row */
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.actions.user {
  margin-bottom: 10px;
}

.actions.user .action.on {
  background-color: #4db84d;
  border: 2px dashed;
}

.actions.user .action.off {
  background-color: rgb(200, 200, 200);
  border: 2px dashed;
}

.inventory-container {
  /* Inventory styles... */
}
